@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.eot?v=4.5.0');
  src: url('../fonts/OpenSans.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/OpenSans.woff2?v=4.5.0') format('woff2'), url('../fonts/OpenSans.woff?v=4.5.0') format('woff'), url('../fonts/OpenSans.ttf?v=4.5.0') format('truetype'), url('../fonts/OpenSans.svg?v=4.5.0#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, 
body {
    height: 100%;
}

body {
  font-size: 14px;
  line-height: 25px;
  width:100%;
  margin:0;
  padding:0;
  font-family: 'Oxygen', sans-serif;
  -webkit-overflow-scrolling: touch;
}

/*body{
	background:#fff;
	font-family: 'Oxygen', sans-serif;
	font-size:14px;
}*/
.bg{background: #eceff4;}
/*splash screen start*/
.splashscreen {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../images/splash_image.png') no-repeat top;
	background-size:contain;
    transition: 2s 1s;
}
.splash_logo{ width:200px;height:200px; position:absolute; top:5%; left:50%; margin-left:-100px; text-align:center; z-index: 9;}
.splash_logo img{width:100%;}
/*splash screen end*/


.splashscreen_welcome {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../images/welcome_bg.jpg) no-repeat top;
    background-size: cover;
    transition: 2s 1s;
	height: 100vh;
}

.splash_logo_welcome{ width:200px;height:200px; position:absolute; top:5%; left:50%; margin-left:-100px; text-align:center; z-index: 9;}
.splash_logo_welcome img{width:100%;}

/*new class for loading text*/

.loading-txt
{
	text-align: center;
	width: 100%;
	position: absolute;
    top: 70%;
}

.loading-txt p
{
	font-size: 30px;
	font-weight: bold;
	color: #00b8ff;
	
}

.text-2
{
    position: relative;
	width: 90%;
	margin: auto;
	text-align: center;
	padding-top: 25px;
    top: 150px;
}

.text-2 p
{
	font-size: 14px;
	font-weight: 500;
	color: #000000;
	padding-top: 8px;
	
}

.login_button_position
{
    position: relative;
    top: 100px;
}

/*
.welcome-text {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
    text-align: center;
    width: 100%;
	position:absolute;
	bottom:0;
}
*/
.welcome-text {
    background-color: #31708f 0.5;
    padding: 20px 0 30px 0;
    text-align: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 0%;

}



.welcome-text h1{
    color: #000000;
    font-size: 168%;
    font-weight: bolder;
    margin: 0 0 5px;
    padding: 0;
}

.welcome-text h2{
    color: #000000;
    font-size: 104%;
    font-weight: bolder;
    margin: 0 0 3px;
    padding: 0;
}

.welcome-text h3{
    color: #000000;
    font-size: 104%;
    font-weight: bolder;
    margin: 0 0 2px;
    padding: 0;
}

.welcome-text h4{
    color: #000000;
    font-size: 104%;
    font-weight: normal;
    margin: 0;
    padding: 0;
}


.panel-default > .panel-heading {
    background-color: #266090 !important;
    border-color: #ddd;
}


.panel-group {
    margin-bottom: 10px !important;
}


.panel-heading {
    padding: 15px 15px !important;
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
	margin-bottom:8px !important;
}


input[type="radio" i] {
    margin: 3px 3px 0px 5px;
}



/*state project director start*/
.inner_header_top_dashboard img{margin:8px auto; height:80px;}

.inner_header_top_dashboard
{
	margin:8px auto; height:auto;
	float: left;
}

.inner_header_bottom_dashboard
{
    max-width: 200px;
	float: left;
	margin-top: 25px;
	margin-left:10px;
	
	
}

.logoutbtn{
	float: right;
	width: 38px;
	height: 38px;
	margin-top: 25px;
	background-color: #ff3805;
    border-radius: 50px;
}

.logoutbtn img{
	
	width: 20px !important;
	height: 20px !important;
	margin-left: 9px !important;
	margin-top: 9px !important;	
}

.logintxt{
	float: right;
	text text-align: left;
	font-size: 14px;
	
}




.inner_header_bottom h2{font-size: 30px; color: #000; text-align: center; text-transform: uppercase; font-weight: bold; margin:0; margin-top:5px;}
.inner_header_bottom h3{font-size: 20px; color: #a73109; text-align: center; text-transform:capitalize; font-weight: bold; margin:0;}
.inner_header_bottom_dashboard h2{font-size: 30px; color: #000; text-align: center; text-transform: uppercase; font-weight: bold; margin:0; margin-top:5px;}
.inner_header_bottom_dashboard h3{font-size: 20px; color: #a73109; text-align: center; text-transform:capitalize; font-weight: bold; margin:0;}
.bottom_link{background:#eceff4; padding: 20px 0; padding-top: 120px;}
.bottom_link .bottom_link_main { text-align: center; padding: 15px 0; text-decoration: none; color: #000; margin-bottom: 15px; margin-left:-8px; margin-right:-8px;
 -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -ms-transition: all 300ms linear; transition: all 300ms linear; border-radius: 6px;}
.bottom_link .bottom_link_main:hover { background: #333;}
.bottom_link_main span { margin-top: 83px; font-size:24px; text-transform: capitalize; font-weight: bold;}
.bottom_link_main span:hover{ text-decoration:none;}
.bottom_link_main img {margin-bottom: 25px; width: 20%; margin: 0px auto 15px;}
.bottom_link{ margin-top:15px;}
.yellow_bg{background:#fbab00;}
.lightgreen_bg{background:#73b230;}
.blue_bg{background:#0099ff;}
.brown_bg{background:#e96220;}
.seagreen_bg{background:#06b4bb;}
.darkgreen_bg{background:#2ab377;}
.cobalt_bg{background: #009999;}
a:hover, a:focus {
    text-decoration: none;
}
/*state project director end*/

/*login screen start*/
.login {
    background: #eceff4;
    width: 100%;
    height: 100vh;
}
.login-intro { margin-bottom: 200px;}
.login_bottom {background: #a73109; position:absolute; bottom: 0; width: 100%; padding: 0 5px; height: 300px; z-index: 999;}
.inner_logo {width: auto; margin: 0 auto;}
.inner_logo img{padding:5% 0;}
.login .title {text-align: center; font-weight: bold; text-transform: uppercase; font-size: 48px; color: #000;}
.title_caption {text-align: center; font-size: 25px; color: #444444; font-weight: bold; font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";}
.login_main {background: #fff; position: absolute; width: 90%; text-align: center; margin: 0 auto; left: 5%; top: -61%;  border-radius: 6px;}
.login_icon {
    background: #fbab00;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 30px;
    top: -68%;
    left: 44%;
    position: absolute;
    z-index: 9;
    border: 5px solid #fff;
}
.login_main_form {
    width: 80%;
    margin: 10% auto 6%;
}
.form-group.custom_form {
    position: relative;
	text-align:center !important;
}
.custom_form i {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 15px;
    font-size: 22px;
    color: #5d5d5d;
    line-height: 50px;
}
.custom_form i::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 30px;
    height: 38px;
    width: 1px;
    background: linear-gradient(#7c7c7c, #404040);
}
.custom_form .form-control {
    background: #eceff4;
    border: 0;
    border-radius: 6px;
    padding: 8px 10px 8px 60px;
    color: #5b5b5b;
	font-size: 20px;
	height: 50px;
}
.submit_btn {
    width: 80%;
    background: #0078ff;
    /*border: 2px solid #31b579;*/
	border:none !important;
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
    font-weight: bold;
    padding: 12px 0;
    border-radius: 48px;
    margin-top: 10px;
	margin-left: 0 !importantimportant;
	margin-right: 0 !importantimportant;
}


.submit_btn_small {
    width: 40%;
    background: #0078ff;
    /*border: 2px solid #31b579;*/
    border:none !important;
    font-size: 15px;
    text-transform: capitalize;
    color: #fff;
    font-weight: bold;
    padding: 12px 0;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 0 !importantimportant;
    margin-right: 0 !importantimportant;
}

.submit_btn_small_green {
    width: 40%;
    background: #31b579;
    /*border: 2px solid #31b579;*/
    border:none !important;
    font-size: 15px;
    text-transform: capitalize;
    color: #fff;
    font-weight: bold;
    padding: 12px 0;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 0 !importantimportant;
    margin-right: 0 !importantimportant;
}
/*login screen end*/

.submit_btn_small_red {
    width: 40%;
    background: #fd0202;
    /*border: 2px solid #31b579;*/
    border:none !important;
    font-size: 15px;
    text-transform: capitalize;
    color: #fff;
    font-weight: bold;
    padding: 12px 0;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 0 !importantimportant;
    margin-right: 0 !importantimportant;
}


/*profile start*/
/* 21 FEB 2018 start*/	
.inner_header{ position: fixed;top:0; height: 125px; width: 100%; background: #FFF; z-index: 999;}
/* 21 FEB 2018 end*/	
.header_back_btn, .header_home_btn{ width:100%; display:inline-block;}
.header_back_btn .img-responsive { width: 15%; margin: 8% 0 0 0;}
.header_home_btn .img-responsive { width: 15%; margin: 8% 0 0 0; float:right;}
/* 21 FEB 2018 start*/	
.header_inner_logo img{margin:2% auto 0;max-height: 50px;}
.header_inner_logo_form img{margin:2% auto 0;height:50px;width:50px;}
/* 21 FEB 2018 end*/	
.inner_content{ background:#eceff4; border-top:1px solid #ccc; margin-top: 10px; padding: 15px 0; padding-top: 120px;}
.profile_icon img{margin:0 auto;}
.profile_list {margin: 25px 0 0 0; padding:0;}
.profile_list li{list-style:none; margin-bottom: 15px;}
.profile_list_left {width: auto; display: inline-block;  vertical-align: middle; position:relative;}
/* 21 FEB 2018 start*/	
.profile_list_left i{z-index: 10; position: relative;}
.profile_list_left::after { position: absolute; content: ""; top: 0; left: 27px; height: 75px; width: 1px; background: #b4b4b4; z-index: 9;}
.profile_list_left_last:after{position: absolute; content: ""; top: 0; left: 18px; height: 90px; width: 1px; background:transparent;}
/* 21 FEB 2018 end*/	
.profile_list_right{width: 85%; display: inline-block; vertical-align:middle; margin-left: 30px;}
.profile_list_right h2 {font-size: 20px; color: #a73109; text-transform: uppercase; font-weight: bold; margin-top: 0; margin-bottom:5px;}
.profile_list_right h3 {color: #000; font-size: 20px; font-weight: bold; margin-top: 0px;}
.profile_list_left i {font-size: 30px; color: #fff; width: 55px; height: 55px; border-radius: 100%; line-height: 55px; margin: 0 auto;
text-align: center;}
/*profile end*/

/*schemes start*/
.schemes_main {margin: 0; padding: 0;}
.schemes_main li { background: #fff;  list-style: none;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc; margin-bottom: 10px;}
.schemes_main_left { width: 36%; display: inline-block; margin-left:40px; margin-top: 20px;}
.schemes_main_right {display: inline-block; width: 200px; background: #fbab00; float: right; padding: 20px;}
.schemes_main_left h2 {font-size: 36px; font-weight: bold;}
.schemes_main_left p {font-size: 24px; color: #444444; font-weight: normal;}
/*schemes end*/

/*quick statistics start*/
.perpel_gradient{background: linear-gradient(#9761ff, #7d32fe);}
.orange_gradient{background: linear-gradient(#ff9b0b, #fd5000);}
.total_registered_box.green_gradient{background: linear-gradient(#03c27b, #7ddc29); padding:15px 40px; }
.total_registered_box {margin: 14px 0; border-radius: 6px; padding: 15px 12px;}
.total_registered_box img{ width:14%; margin:0 auto;}
.total_registered_box h2{text-align: center; font-size: 20px; font-weight: bold; color: #ffffff; margin-top: 5px;}
.total_registered_box h3{text-align: center; font-size: 18px; font-weight: bold; color: #ffffff; margin: 0;}
.total_registered_box.green_gradient h2{text-align: left; font-size: 20px; font-weight: bold; color: #ffffff; margin-top:0;}
.total_registered_box.green_gradient h3{text-align: left; font-size: 18px; font-weight: bold; color: #ffffff; margin: 0;}
.total_registered_box.green_gradient img{float:right;}
.green_gradient_left{width: 63%; display: inline-block; vertical-align: top;}
.green_gradient_right{width: 35%; display: inline-block;}
.quick_statistics_heading{ text-align:center; font-size:20px; font-weight:bold; color:#000; margin:0; position:relative;}
.quick_statistics_heading span{font-size:24px;}
.quick_statistics_heading:after{position:absolute; content:""; top:20px; left:0; background:#000; width:540px; height:1px;}
.quick_statistics_heading::before {position: absolute; content: ""; top: 20px; right: 0; background: #000; width: 540px; height: 1px;}
.quick_statistics_subheading {font-size: 22px; font-weight: bold; text-align: center; margin: 15px 0;}
.color_blue{ color:#038ede;}
.color_green{ color:#03a58c;}
.color_darkgreen{ color:#039406;}
.color_red{ color:#fc0e02;}
.color_perple{color:#8541fe;}
.quick_statistics_amount_main{background: #fff; border: 1px solid #aaaaaa; border-radius: 6px; margin: 20px 0; padding: 10px 45px;}
.quick_statistics_amount_main ul {margin: 0; padding: 0;}
.quick_statistics_amount_main ul li {list-style: none;  display: inline-block; width: 48%; border-right: 1px solid #000; padding: 15px 0;}
.quick_statistics_amount_main ul li.last_amount{width: 100%; border-right: 0; border-top: 1px solid #000; padding: 10px 0 0; margin: 8px 0;}
.quick_statistics_amount_main ul li.middle_amount{border-right:0; padding: 0 55px;}
.quick_statistics_amount_main ul li h2 {font-size:22px; font-weight: bold; margin:0;}
.quick_statistics_amount_main ul li h3 {color: #2b2a3d; font-size: 20px; font-weight: bold; margin: 10px 0 0;}
.last_amount_left {width: auto; display: inline-block;}
.last_amount_right {width: 5%; display: inline-block; float: right;}
.last_amount_right img {width: 100%;}
/*quick statistics end*/

/*students start*/
.students_main{margin: 0; padding: 0;}
.students_main li{ background: #fff;  list-style: none;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc; margin-bottom: 10px;}
.students_main_left { width: 98px; display: inline-block; margin-right: 20px; vertical-align: top; padding: 25px 0;}
.students_main_right {display: inline-block; width: 80%; padding: 8px 0;}
.pink_bg{background:#fc1f48;}
.students_main_left h2 {color: #fff; text-align: center; margin-top:0; margin-bottom:0; font-size:18px; font-weight:bold;}
.students_main_left span {display: block; font-size:22px; font-weight:bold; margin-top:10px;}
.title {font-size: 20px; font-weight: bold; color: #000; margin: 0;}
.subtitle {font-size: 18px; font-weight: bold; margin: 5px 0;}
.title_option {color: #666666; font-size: 18px; font-weight: bold;}
.title_option span{color:#000;}
.students_top{margin:8px 0;}
.students_top_left {width: 80%; display: inline-block;}
.students_top_left h2{font-size: 24px; font-weight: bold; color: #000; margin: 0;}
.students_top_left h3{color: #494949; font-weight: bold; font-size: 22px; margin: 8px 0 0 0;}
.students_top_right {width: 18%; display: inline-block; text-align: center; vertical-align:top; margin-top:6px;}
.students_top_right .students_top_right_filter{width: 70%; background: #a73109; border: 0; color: #fff; font-size: 22px; border-radius: 50px; font-weight: bold; padding: 8px 0 14px 0; margin: 0 auto;}
.filter_main {position: absolute; background: #494949; width: 100%; padding:15px 0;}
.filter_main form{margin:20px 0;}
.filter_main .heading {font-size: 28px; color: #fff; font-weight: bold; margin: 0;}
.filter_main label {width: 22%; display: inline-block; color: #fff; font-size: 20px;}
.custom_select{position:relative;}
.custom_select select {color: #000; font-size: 20px; font-weight: bold; border-radius: 50px; border: 0; padding: 15px; margin: 5px 0; width:77%; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; appearance:none; cursor: pointer;}
.custom_select::after {content: ""; position: absolute; z-index: 2; right: 40px; top: 36%; margin-top: 3px; height: 0; width: 0; border-top: 20px solid #000000; border-left: 12px solid transparent; border-right: 12px solid transparent; pointer-events: none;}
.filter_main .btn.btn-default {float: right; margin-right: 14px;  background: #01b390; border: 0; color: #fff; font-size: 20px; border-radius: 50px; padding: 16px 50px; font-weight: bold;}
/*students end*/

@media only screen and (max-width:1280px){
/*quick statistics start 21.2.2018*/
.quick_statistics_heading::after{width:510px; top:16px;}
.quick_statistics_heading::before{width:510px; top:16px;}
/*quick statistics end 21.2.2018*/
} 
@media only screen and (max-width:1024px){
/* 21 FEB 2018 start*/		
.login_icon { left: 45%;width: 120px;height: 120px;}
.profile_icon img{max-height: 120px;}
.inner_header_bottom h2{font-size: 20px;}
.inner_header_bottom h3{font-size: 16px;}	
.inner_header_bottom_dashboard h2{font-size: 20px;}
.inner_header_bottom_dashboard h3{font-size: 16px;}
.profile_list_right h2,.profile_list_right h3 {font-size: 16px;}
.profile_list_left i{font-size: 24px;width: 45px;height: 45px;line-height: 45px;}	
.profile_list_left::after{left: 22px;}
.schemes_main_left h2 {font-size: 28px;	}
.schemes_main_left p {font-size: 20px;}
.schemes_main_right{width: 170px;}	
/* 21 FEB 2018 end*/	
.schemes_main_left { width: 62%;}
.inner_logo{text-align: center;}
/* 21 FEB 2018 start*/	
.inner_logo img {
    padding: 5% 0;
    width: auto;
	max-height:120px;
    display: inline-block;
}
.login .title{font-size:30px;}
.title_caption{font-size: 20px;}
/* 21 FEB 2018 end*/
/*quick statistics start 21.2.2018*/
.inner_content {padding-top: 160px;}
.quick_statistics_heading::after{width:380px;}
.quick_statistics_heading::before{width:380px;}
/*quick statistics end 21.2.2018*/
.student_content{padding-top: 120px;}	
.students_top_right .students_top_right_filter {width: 90%;}
}
@media only screen and (max-width:960px){
	
}
@media only screen and (max-width:800px){
.login-intro { margin-bottom: 300px;}
.login_bottom {height: 250px;}
.login_main_form {margin: 15% auto 6%;}
.login_icon {width:120px;height:120px;top: -63%;left: 40%;}
.header_back_btn .img-responsive {width: 25%; margin: 12% 0 0 0;}
.header_home_btn .img-responsive {width: 25%; margin: 12% 0 0 0;}
.inner_header_bottom h2 {font-size: 25px; margin: 5px 0;}
.inner_header_bottom h3 {margin: 5px 0;}
.inner_header_bottom_dashboard h2 {font-size: 25px; margin: 5px 0;}
.inner_header_bottom_dashboard h3 {margin: 5px 0;}
/*quick statistics start 21.2.2018*/
.quick_statistics_heading::after{width:260px;}
.quick_statistics_heading::before{width:260px;}
.total_registered_box.green_gradient img {margin-top: 8px;}
.last_amount_right { width: 8%;}
/*quick statistics end 21.2.2018*/
.student_content {padding-top: 120px;}
.students_top_left {width: 60%;}
.students_top_right {width: 32%;}
.students_top_left {width: 67%;}
.students_top_left h2 {font-size: 18px;}
.students_top_left h3 {font-size: 16px;}
.students_top_right .students_top_right_filter {width: 60%; font-size: 16px;}
.students_top_right {margin-top: 0px;}
.filter_main .heading {font-size: 20px;}
.filter_main label {font-size: 16px;}
.custom_select select {font-size: 16px; padding: 5px 15px; margin: 3px 0;}
.custom_select::after {right: 32px; top: 36%; border-top: 10px solid #000000; border-left: 6px solid transparent; border-right: 6px solid transparent; pointer-events: none;}
.filter_main .btn.btn-default {margin-right: 10px;font-size: 16px; padding: 8px 30px;}
.title {font-size: 18px;}
.subtitle {font-size: 16px;}
.title_option {font-size: 16px;}
.students_main_left h2 {font-size: 16px;}
.students_main_left span {font-size: 18px;}
}

@media only screen and (max-width:767px){
.bottom_link_main img {width: 25%;}
.login-intro {margin-bottom: 129px;}
.inner_logo {width: 25%;}
.login_icon {width:100px;height:100px;top: -80%; left: 39%;}
.profile_list_right h2 {font-size: 20px;}
.profile_list_right h3 {font-size: 22px;}
	.inner_header_bottom h2{ font-size: 20px;}
	.inner_header_bottom h3{font-size:15px;}
	.inner_header_bottom_dashboard h2{ font-size: 20px;}
	.inner_header_bottom_dashboard h3{font-size:15px;}
	.custom_form .form-control{font-size: 16px;height: 40px;}
	.custom_form i{font-size: 20px;line-height: 40px;}
	.custom_form i::after {top: 7px;height: 26px;}
	.submit_btn {font-size: 16px;padding: 8px 0;}
	.login_bottom { height: 200px;}
	.header_inner_logo img{height: 50px;}
	.profile_icon img { max-height: 100px;}
	.profile_list_right h3,.profile_list_right h2{font-size:16px;}
	.profile_list_left i {
    font-size: 20px;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    line-height: 35px;
    margin: 0 auto;
    text-align: center;
}
	.profile_list_left { width: 5%;}
/*quick statistics start 21.2.2018*/
.inner_content {padding-top: 120px;}
/*quick statistics end 21.2.2018*/
.profile_list_left::after {
    left: 17px;
}
}

@media only screen and (max-width:736px){

}

@media only screen and (max-width:720px){
.inner_logo {width: 30%;}
.login-intro { margin-bottom: 322px;}
}

@media only screen and (max-width:667px){
.login .title {font-size: 34px;}
.title_caption {font-size: 22px;}
.login_main_form {margin: 18% auto 6%;}
.inner_logo {width: 30%;}
.login-intro { margin-bottom: 100px;}
.profile_list_right { width: 80%;}
.header_back_btn .img-responsive {width: 30%; margin: 18% 0 0 0;}
.header_home_btn .img-responsive {width: 30%; margin: 18% 0 0 0;}
.schemes_main_right { width: 168px;}
.schemes_main_left {margin-top: 14px;}
.schemes_main_left h2 {font-size: 26px;}
.schemes_main_left p { font-size: 18px;}
/*quick statistics start 21.2.2018*/
.total_registered_box img {width: 18%;}
.total_registered_box h2 {font-size: 18px;}
.total_registered_box h3 {font-size: 15px;}
.quick_statistics_heading::before { width: 195px;}
.quick_statistics_heading::after { width: 195px;}
/*quick statistics end 21.2.2018*/
}
@media only screen and (max-width:640px){
.quick_statistics_amount_main ul li.middle_amount {padding: 0 23px;}
}
@media only screen and (max-width:600px){
.splash_logo{ width:150px;height:150px; margin-left:-75px;}
.students_main_left {width: 90px;}
}
@media only screen and (max-width:568px){

.schemes_main_right { width: 150px;}
.students_main_left {width: 80px;}
.quick_statistics_amount_main ul li h3 {font-size: 14px;}
.quick_statistics_heading::before {width: 140px;}
.quick_statistics_heading::after {width: 140px;}
.students_top_right .students_top_right_filter {width: 75%;}
}

@media only screen and (max-width:480px){
.bottom_link_main span {font-size: 24px;}
.login-intro {margin-bottom: 50px;}
.login_main_form { margin: 20% auto 6%;}
/*quick statistics start 21.2.2018*/
.total_registered_box img {width: 25%;}
.total_registered_box h2 {font-size: 16px;}
.total_registered_box h3 { font-size: 12px;}
.total_registered_box.green_gradient h2{font-size: 16px;}
.total_registered_box.green_gradient h3{font-size: 14px;}
.quick_statistics_heading {font-size: 16px;}
.quick_statistics_heading span {font-size: 20px;}
.quick_statistics_heading::before {width: 85px; top: 13px;}
.quick_statistics_heading::after {width: 85px; top: 13px;}
.quick_statistics_amount_main ul li h2 {font-size: 16px;}
.quick_statistics_amount_main ul li h3 {font-size: 12px;}
.quick_statistics_amount_main ul li.middle_amount {padding: 0 18px;}
.last_amount_right {width: 12%;}
.quick_statistics_subheading {font-size: 16px;}
.quick_statistics_amount_main {padding: 10px 15px;}
.total_registered_box {padding: 15px 6px;}
.total_registered_box.green_gradient {padding: 15px 10px;}
/*quick statistics end 21.2.2018*/
.students_top_left h2 {font-size: 16px;}
.students_top_left h3 {font-size: 12px;}
.students_top_right {width: 32%;}
.filter_main label {width: 35%; font-size: 14px;}
.custom_select select {font-size: 14px; padding: 5px 14px; margin: 3px 0; width: 62%;}
.filter_main .btn.btn-default {margin-right: 10px; font-size: 14px; padding: 8px 25px;}
.students_main_left { width: 72px;}
}

@media only screen and (max-width:410px)
{



}
@media only screen and (max-width:414px){
.bottom_link_main span {font-size: 18px;}
.bottom_link_main img { width: 30%;}
.login .title {font-size: 20px; margin: 5px 0;}
.title_caption {font-size: 16px;margin-top: 10px;}
.inner_logo {width: 30%;}
.header_back_btn .img-responsive { width: 50%; margin: 30% 0 0 0;}
.header_home_btn .img-responsive { width: 50%; margin: 30% 0 0 0;}
.profile_list_right {width: 70%;}
	.profile_list_right h3,.profile_list_right h2{font-size:14px;}
.schemes_main_left { width: 68%;}
/* 21 FEB 2018 start*/		
.schemes_main_left h2 {font-size: 18px; margin: 10px 0;}
/* 21 FEB 2018 end*/	
.schemes_main_left p { font-size: 14px;}
.schemes_main_right {display: inline-block;  width: 100px;}
.schemes_main_left { margin-left: 18px; margin-top: 0px;}
.students_top_right .students_top_right_filter {width: 90%; font-size: 14px;}
.custom_select::after {right: 28px; top: 36%; border-top: 8px solid #000000; border-left: 4px solid transparent; border-right: 4px solid transparent; pointer-events: none;}
.students_main_left {width: 68px; margin-right: 9px;}
.title {font-size: 16px;}
.subtitle {font-size: 14px;}
.title_option {font-size: 14px;}
.students_main_left {padding: 20px 0;}
.students_main_left h2 {font-size: 14px;}
.students_main_left h2 span {font-size: 16px;}
.students_main_right {padding: 5px 0;}
}

@media only screen and (max-width:384px){
.students_main_left {width: 64px;}
.quick_statistics_amount_main ul li.middle_amount {padding: 0 10px;}
}
@media only screen and (max-width:375px){
.students_main_left {width: 60px;}
.students_top_left {width: 64%;}
.students_top_right { width: 34%;}
.students_top_right .students_top_right_filter {width: 100%;}
.students_main_left {width: 50px;}
}
@media only screen and (max-width:360px){
.header_back_btn .img-responsive {width: 65%; margin: 52% 0 0 0;}
.header_home_btn .img-responsive {width: 65%; margin: 52% 0 0 0;}
.schemes_main_left { width: 68%;}
.schemes_main_left h2 {font-size: 16px; margin: 10px 0;}
.schemes_main_left p { font-size: 11px;}
.schemes_main_right {display: inline-block;  width: 82px;}
.schemes_main_left { margin-left: 18px; margin-top: 0px;}
.inner_header_bottom h2 {font-size: 20px;}
.inner_header_bottom_dashboard h2 {font-size: 20px;}
/*quick statistics start 21.2.2018*/
.total_registered_box img {width: 30%;}
.quick_statistics_heading::before {width: 70px;}
.quick_statistics_heading::after {width: 70px;}
.quick_statistics_amount_main ul li.middle_amount {padding: 0 7px;}
.quick_statistics_amount_main ul li h3 {font-size: 10px;}
.last_amount_right img {margin-top: 6px;}
/*quick statistics end 21.2.2018*/
}
@media only screen and (max-width:320px){
/*.splash_logo {margin-top: -268px;}*/
	.login_bottom { height: 170px;}
.login_icon {
    width: 70px;
    height: 70px;
    top: -84%;
    left: 39%;
    padding: 15px;
}
.bottom_link_main span {
    font-size: 14px;
}
.bottom_link_main img {
    width: 35%;
    margin: 0px auto 8px;
}
.inner_header_bottom h3 {
    font-size: 14px;
}
.inner_header_bottom_dashboard h3 {
    font-size: 14px;
}
.login_main { top: -64%;}
.title_caption {
    font-size: 12px;
    margin: 5px 0;
}
.submit_btn {
    font-size: 20px;
    padding: 3px 0 8px;
}
.login-intro {margin-bottom: 0px;}
.submit_btn{font-size:16px;}
.quick_statistics_heading::before {width: 55px;}
.quick_statistics_heading::after {width: 55px;}
}

@media only screen and (max-height:280px){

}
@media only screen and (max-width:280px){
.bottom_link_main span {font-size: 12px;}
.profile_list_right {width: 65%;}
.profile_list_left::after {top: 54px; left:27px;}
.schemes_main_right { width: 80px;}
.schemes_main_left { margin-left: 8px; margin-top: 0px; width: 68%;}
.students_main_left { margin-right: 2px;}
.filter_main label {width: 40%;}
.custom_select select { padding: 5px 14px; margin: 3px 0; width: 58%;}
.custom_select::after {right: 16px;}
}
@media only screen and (max-device-width: 767px) and (orientation: landscape) {
.inner_screen_one_bottom { position:inherit;}
}

/* 21 FEB 2018 start*/	
@media only screen and (max-width:1366px) and (max-height: 800px) and (orientation: landscape) {
	.inner_logo{text-align: center;}
	.inner_logo img{max-height: 120px; display:inline-block;}
	.login .title{font-size:36px;margin-top:0;}
	.title_caption{font-size:22px;margin-top: 0;}
	.login_icon{width:120px; height: 120px;left: 46%;}
	.login_main_form{margin: 8% auto 4%;}
	.login_bottom{height:250px;}
	
}
@media only screen and (max-width:1024px) and (max-height: 600px) and (orientation: landscape) {
	.login_bottom{height: 230px;}
	.submit_btn,.custom_form .form-control{font-size:16px;}
	.custom_form .form-control{height: 45px;}
	.custom_form i{font-size:20px;line-height: 45px;}
	.custom_form i::after{height: 33px;}
	.login_main_form{margin: 8% auto 4%;}
	.login .title{margin-top:0;}
	.login_icon{width:120px; height: 120px;left: 44%;}
}
@media only screen and (max-width:767px) and (max-height: 500px) and (orientation: landscape) {
    .login_bottom{position: relative;}
    .login-intro {margin-bottom: 150px;}
    .inner_logo img {max-height: 80px;}
}
/* 21 FEB 2018 end*/	

/*20.06.19*/

.mbtm10 {margin-bottom:10px;}

/*toggle*/
.toggleWrapper{ width: 100%; padding: 10px 16px;}

.toggleWrapper input{
    position: absolute;
    left: -99em;
}
.toggle{
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 78px;
    height: 33px;
    background: #66b317;
    border-radius: 22px;
    -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggle:before, .toggle:after{
    position: absolute;
    line-height: 50px;
    font-size: 14px;
    z-index: 2;
    -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggle:before{
    content: "YES";
    left: 5px;
    top:-6px;
    color: #66b317;
    font-size: 12px;
    font-weight:normal;
}
.toggle:after{
    content: "NO";
    right: 7px;
    top: -6px;
    color: #fff;
    font-size: 12px;
    font-weight:normal;
}
.toggle__handler{
    display: inline-block;
    position: relative;
    z-index: 1;
    background: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
input:checked + .toggle{
    background: #d21626;
}
input:checked + .toggle:before{
    color: #fff;
}
input:checked + .toggle:after{
    color: #d21626;
}
input:checked + .toggle .toggle__handler{
    width: 28px;
    height: 28px;
    -webkit-transform: translateX(44px);
    transform: translateX(44px);
    border-color: #fff;
}

/*end toggle*/
.photo {margin-bottom:20px;}
.add_photo {width:100%; height:170px; overflow:hidden; border:1px dashed #bababa; border-radius:6px; background:#f9f9f9;text-align:center;}
.add_photo img {width:100%; height:100%;}
.photo-title {margin-bottom:10px; display:block;}
.disblock {display: block;}



/*19-08-2019-AVIJIT*/




.page {
    width: 100%;
    height: 100%;
    background: #005ca9;
    overflow: auto;
    z-index: 1;
}

.wrapper { width:90%; margin:0 auto;}


.inner {
    width: 100%;
    box-sizing:border-box;
    padding: 30px;
    margin-top:-40px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 5px 24.25px 0.75px rgba(0, 0, 0, 0.2);
}


.clear { clear:both; margin:0; padding:0;}

/*input field*/
 
input[type="number"], 
input[type="password"], 
input[type="tel"]{width:100%;border: none;outline:none;border-bottom:#bababa 1px solid;height:50px; padding:8px; font-size:15px; color: #808080;box-sizing: border-box;}

/*otp*/
.otp{
    padding: 10px;
    width: 110px !important;
    text-align: center;
    font-size: 20px !important;
    color:#282828 !important;
    border: none;
    border-bottom: 1px solid #bababa;
}
.otp:focus {
    border-bottom:1px solid #005ca9;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.resend_otp a {color:#005ca9; font-size:14px;}
/*otp*/

.btn {border: none;outline:none;color:#fff;padding: 14px 30px;text-align: center;text-decoration: none;display:inline-block;font-size: 15px;cursor: pointer; text-transform:uppercase; border-radius:25px;}
.login_btn{background:#ff8400; border:0;transition: all 0.4s;}
.login_btn:hover {background:#e57904;}

.form-control{padding-left: 0;}
.form-control:focus {
    border-bottom:1px solid #005ca9;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    }
.mtop10 {margin-top:10px;}
.mtop30 {margin-top:30px;}  
.mtop40 {margin-top:40px;}
.mbotm5 {margin-bottom:5px;}
.mbotm10 {margin-bottom:10px !important;}
.mbotm20 {margin-bottom:20px !important;}
.mbotm30 {margin-bottom:30px;}
.mbotm60 {margin-bottom:60px !important;}
.mleft10 {margin-left:10px;}
.mleft20 {margin-left:20px;}
.center {margin:0 auto;}

    .header-bar {
        width:100%;
        padding:20px 10px;
        margin: 0;
        background: #fff;
        text-align:center;
        box-sizing:border-box;
        height:260px;
    }
    
    .logo-title h3 {font-size:15px;color:#005ca9; margin:5px 0; font-weight:bold;}
    .logo-title h4 {font-size:13px;margin:0;line-height: normal;}
    
    .header-logo { width:100%;text-align:center;}
    .header-logo img {width:50%;max-width:90px;}
    
    .form-box {margin:0 auto; text-align:center;}
    .form-box h2 { font-size:22px; color:#005ca9; text-align:center; font-weight:normal; margin-bottom:30px;}
    .form-group { margin-bottom:30px;}


    .centarize{ text-align: center; }


